<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
function postData() {
  $.ajax({
    type: 'POST',
    url: "/post_data",
    data: JSON.stringify($('#code').val()),
    contentType: 'application/json',
    dataType: "json",
  });
}
</script>
</head>
<body>
<div>
  <textarea id="code" name="code" rows="50" cols="80" style="overflow: scroll;">
  </textarea>
</div>
<div>
  <button type="button" id="myBtn" onclick="postData()">Run!</button>
</div>
</body>
</html>